<html>

<head>
  <title>ergo_Phyton</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <!-- Save for Web Slices (ergo_Phyton.psd) -->
  <map name="Map">
    <area shape="rect" coords="162,1733,185,1760"
      href="https://medium.com/@victor.garibayy/qu%C3%A9-es-y-para-qu%C3%A9-sirve-json-be05fe02e67d" target="_blank">
  </map>
  <map name="MapMap">
    <area shape="rect" coords="162,1733,185,1760"
      href="https://medium.com/@victor.garibayy/qu%C3%A9-es-y-para-qu%C3%A9-sirve-json-be05fe02e67d" target="_blank">
  </map>
  <map name="MapMap2">
    <area shape="rect" coords="162,1733,185,1760"
      href="https://medium.com/@victor.garibayy/qu%C3%A9-es-y-para-qu%C3%A9-sirve-json-be05fe02e67d" target="_blank">
  </map>
  <map name="MapMap3">
    <area shape="rect" coords="162,1733,185,1760"
      href="https://medium.com/@victor.garibayy/qu%C3%A9-es-y-para-qu%C3%A9-sirve-json-be05fe02e67d" target="_blank">
  </map>
  <map name="MapMap4">
    <area shape="rect" coords="162,1733,185,1760"
      href="https://medium.com/@victor.garibayy/qu%C3%A9-es-y-para-qu%C3%A9-sirve-json-be05fe02e67d" target="_blank">
  </map>
  <img src="/static/images/ergo_phyton.jpg" alt="" width="800" height="1947" usemap="#Map2" border="0">
  <map name="Map2">
    <area shape="rect" coords="256,1532,324,1560"
      href="https://medium.com/@victor.garibayy/qué-es-y-para-qué-sirve-json-be05fe02e67d" target="_blank">
    <area shape="rect" coords="472,1530,535,1560" href="https://fercontreras.com/conoce-que-es-un-yaml-e18e9d21ade4"
      target="_blank">
    <area shape="rect" coords="541,1532,612,1562" href="https://medium.com/tech-blog-for-dummies/why-yaml-38bd78c9c91c"
      target="_blank">
    <area shape="rect" coords="418,1583,481,1616"
      href="https://medium.com/@ardamose123/características-sobre-programación-funcional-ba4bf75d49f6" target="_blank">
    <area shape="rect" coords="490,1584,554,1613"
      href="https://medium.com/build-and-run/programación-funcional-ef00e195d125" target="_blank">
    <area shape="rect" coords="559,1585,627,1613"
      href="https://medium.com/@pharesdiego/bases-de-la-programación-funcional-f25cea12040a" target="_blank">
    <area shape="rect" coords="527,1641,593,1672"
      href="https://medium.com/laboratoria-how-to/programación-orientada-a-objetos-para-objetos-33a0304024cf"
      target="_blank">
    <area shape="rect" coords="599,1640,662,1668"
      href="https://medium.com/@dfgonzalez/qué-es-la-programación-orientada-a-objetos-poo-141a5f5d5cf4" target="_blank">
    <area shape="rect" coords="670,1637,737,1668"
      href="https://medium.com/@enmanuelolivovaldez/programación-orientada-a-objetos-8093bcf1dc51" target="_blank">
    <area shape="rect" coords="344,1896,530,1932" href="https://www.instagram.com/ergoinstitute/" target="_blank">
    <area shape="rect" coords="301,1893,337,1935"
      href="https://www.facebook.com/ERGO-Renova-130308933650566/?__tn__=,d,P-R&eid=ARDWY-mkfMvz9WB41LQTHUbNkhX-Eaxj7CsZZLU2zrefYb9D4mFYdkfgWJbiwI4za7FEljPEDRX6X-ha"
      target="_blank">
  </map>
  <!-- End Save for Web Slices -->
</body>

</html>